<% include ./partials/header.ejs %>

<div class="container  mx-auto p-10">
    <div class="grid grid-cols-1  flex items-center sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <% posts.forEach(function(elem){ %>
            <div class="bg-white rounded-lg overflow-hidden  shadow-md">
                <img class="w-full object-cover" src="/images/uploads/<%= elem.image %>" alt="">
                <div class="p-4 flex items-center justify-between">
                    <div class="">
                        <a href="/post/<%= elem._id %>" class="text-lg text-gray-800 font-semibold block mb-2"><%= elem.title %></a>
                        <p class="text-sm text-gray-600">By: @<%= elem.user.username %></p>
                    </div>
                    <div class="">
                        <button onclick="savePost('<%= elem._id %>')" >Save</button>
                    </div>
                   
                </div>
            </div>
        <% }) %>
    </div>
</div>


<% include ./partials/footer.ejs %> 

<script>
    async function savePost(postId) {
      try {
        const response = await fetch(`/save/${postId}`, {
          method: 'GET',
        });
        
        if (response.ok) {
          // Show popup alert after successful save
          window.alert('Pin saved successfully!');
        } else {
          console.error('Failed to save post');
        }
      } catch (error) {
        console.error('Error saving post:', error);
      }
    }
  </script>

